@mixin size($width, $height: null) {
  @if $height == null {
    width: $width;
    height: $width;
  } @else {
    width: $width;
    height: $height;
  }
}

@mixin center($direction: both) {
  display: flex;
  justify-content: center;
  align-items: center;

  @if $direction == horizontal {
    justify-content: center;
    align-items: flex-start;
  } @else if $direction == vertical {
    justify-content: flex-start;
    align-items: center;
  }
}

@mixin hoverable {
  &:hover {
    transform: scale(1.2);
  }
}